.personaldetails
{
        border: 2px solid black;
            width: 896px;


}

table th{
    width: 50%;
        border: 2px solid;
    /* padding: 5px; */
    /* align-items: flex-start; */
    /* align-content: flex-start; */
    margin-left: 14px;
    padding-left:20px;
    padding-right:15px;
    padding-top: 15px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(9, 20, 41);
       


}
table td{

border: 1px solid white;

padding-left: 5px;

background-color: rgb(5, 14, 35);
}